div{
      background-color: #D7DAE0;
      max-height: 800px;
      width: auto;
      padding-top: 1px;
      padding-bottom:10px;
      }
      .head
      {
      border:1px solid black;
      background-color: #34495e;
      height: 65px;
      width: auto;
      padding-top: 30px;
      border-color: black;  
      }
      .text_color{
      margin-top: 3px;
      color:white;
      font-size: 40px;
      font-style: solid bold
      margin-left: 400px;
      text-align: center;
      }
      .text1{
      font-size: 30px;
      color:white;
      }
      h3{
      margin-left: 400px;
      font-size: 23px;    
      }
      input{
      font-size: 15px;
      outline: 0;
      height: 38px;
      padding: 5px;  
      }
      table{
      margin-left: 410px;
      border:1px solid #ACAEB3 ;
      }
      .td1{
      font-style:italic;
      font-size: 17px;
      }
      .p1{
      font-style: initial;
      font-size: 12px;
      margin-left: 400px;
      margin-right: 400px;
      }
      .lab{
      margin-left: 400px;
      font-size: 16px;
      margin-top: 30px;
      }
      .text4{
      margin-top: 7px;
      padding:5px;
      width: 200px;
      height: 15px;
      }
      .button2{
      margin-top: 10px;
      background-color:#5D6D7E;
      margin-left: 80px;
      cursor:pointer;
      font-size: 16px;
      height: 30px;
      width: 90px;
      color:white;
      border:1px solid black;
      }
      .button3{
      margin-top: 10px;
      background-color:#5D6D7E;
      margin-left: 15px;
      cursor:pointer;
      font-size: 16px;
      height: 30px;
      width: 90px;
      color:white;
      border:1px solid black;
      }
      span.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9{
      font-style: italic;
      font-size: 12px;
      color: red;
      height: 1px;
      margin-left:5px;
      margin-top: auto;
      float: center;
      }
      .s10{
      font-style: italic;
      font-size: 12px;
      color: red;
      height: 1px;
      margin-left:5px;
      margin-top: auto;
      margin-left: -180px;
      }

      .rd{margin-left: -65px;
      margin-top: 5px;
      }
      #rd1{margin-left:-165px;
      }